@{
	ViewBag.Title = "内容管理";
	Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@section header
{
	<link href="~/Content/zTree/zTreeStyle.css" rel="stylesheet" type="text/css" />
	@Styles.Render("~/Content/css/dataTables")
}

<h2>@ViewBag.Title</h2>

<div class="row">
	<div class="col-md-3">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<div class="row">
					<div class="col-md-12">
						<h3 class="panel-title">
							@ViewBag.Title
						</h3>
					</div>
				</div>
			</div>
			<div class="panel-body panel-body-tree">
				<ul id="treeCategory" class="ztree"></ul>
			</div>
		</div>
	</div>
	<div class="col-md-9">
		<p>
			@Html.ActionLink("新增", "Create", new {ViewBag.CategoryId}, new { id = "link-create" })
		</p>
		<table id="table-content" class="table table-striped table-hover">
			<thead>
				<tr>
					<th>标题</th>
					<th>显示顺序</th>
					<th>创建时间</th>
					<th>操作</th>
				</tr>
			</thead>
		</table>
	</div>
</div>

@section scripts
{
	@Scripts.Render("~/bundles/dataTables")
	<script type="text/javascript" src='@Url.Content("~/Scripts/jquery.ztree.all-3.5.min.js")'></script>
	<script type="text/javascript">
		$(function() {
			// 显示内容表格
			var showContentTable = function(categoryId) {
				if (categoryId === 1) {
					$("#link-create").hide();
				} else {
					$("#link-create").show();
				}

				var url = '@Url.Action("GetJsonByCategory", "Contents")';
				if (categoryId != null) {
					url += "?categoryId=" + categoryId;
				}
				$("#table-content").DataTable({
					language: {
						url: '@Url.Content("~/Scripts/jquery.dataTables.zhCn.json")'
					},
					destroy: true,
					lengthChange: false,
					searching: false,
					ordering: true,
					processing: true,
					serverSide: true,
					pageLength: 20,
					ajax: url,
					columns: [
						{ data: "Title" },
						{ data: "DisplayOrder" },
						{ data: "CreateTime" },
						{ data: null, orderable: false }
					],
					columnDefs: [
						{
							render: function(data, type, row) {
								var id = row.Id;
								var link = "<a href='@Url.Action("Edit")/" + id + "?categoryId=" + categoryId + "'>修改</a>";
								link += "&nbsp;<a href='@Url.Action("Delete")/" + id + "?categoryId=" + categoryId + "'>删除</a>";
								return link;
							},
							targets: 3
						}
					],
					order: [[1, "desc"]] // 默认排序
				});
			};

			var setting = {
				callback: {
					onClick: function(event, treeId, treeNode) {
						var categoryId = treeNode.id;
						var contentType = treeNode.contentType;
						if (contentType) {
							$("#link-create").attr("href", '@Url.Action("Create")?categoryId=' + categoryId);
							$("#link-create").show();
						}
						else {
							$("#link-create").hide();
						}
						showContentTable(categoryId);
					}
				}
			};

			var url = '@Url.Action("GetTree", "Categories")';
			$.get(url, function (data) {
				var treeObj = $.fn.zTree.init($("#treeCategory"), setting, $.parseJSON(data));
				var nodes = treeObj.getNodes();
				var rootNode = nodes[0];
				var categoryId = @ViewBag.CategoryId;
				if (categoryId == 1) {
					treeObj.expandNode(rootNode, true);
				}
				else {
					var node = treeObj.getNodeByParam("id", categoryId, rootNode);
					treeObj.selectNode(node);
				}

				showContentTable(categoryId);
			});
		});
	</script>
}