@{
	Layout = "~/Views/Shared/_Layout.cshtml";
}
@section header{  
	@RenderSection("header", false)  
}  
@section scripts {  
	@RenderSection("scripts", false)  
}

<div id="content-header">
	<h1>@ViewBag.Level1Category.Name</h1>
</div>
<div class="container body-content">
	<div class="row">
		<div class="col-md-3">
			@{Html.RenderAction("TreePanelPartial", "Categories", new {@ViewBag.Category});}
		</div>
		<div class="col-md-9">
			<div class="content-list-header">
				<h3 class="pull-left">@ViewBag.Category.Name</h3>
				<span class="pull-right">
					@{Html.RenderAction("NavigatorPartial", "Categories", new {@ViewBag.Category.Id});}
				</span>
			</div>

			<div class="content-body">
				@RenderBody()
			</div>
		</div>
	</div>
</div>
