<div class="navbar-logo">
	<div class="container">
		<div class="navbar-header">
			<a href="@Url.Action("IndexEn", "Home")" class="navbar-brand logo">
				<img src="@Url.Content("~/Content/images/logo.jpg")" width="90" />
			</a>
		</div>
		<div class="navbar-collapse collapse">
			<ul class="nav navbar-nav navbar-right">
				<li class="logo-right">
					<img src="@Url.Content("~/Content/images/logo1.jpg")" width="120" />
					<br/>
					@Html.ActionLink("中文", "Index", "Home")
					|
					@Html.ActionLink("ENGLISH", "IndexEn", "Home")
				</li>
			</ul>
		</div>
	</div>
</div>
<div class="navbar navbar-site">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
		</div>
		<div class="navbar-collapse collapse">
			<ul class="nav navbar-nav">
				<li>@Html.ActionLink("Index", "IndexEn", "Home")</li>
				<li>@Html.ActionLink("Chemical material", "List", "Contents", new {categoryName = "Chemical material"}, null)</li>
				<li>@Html.ActionLink("Industrial investment", "List", "Contents", new {categoryName = "Industrial investment"}, null)</li>
				<li>@Html.ActionLink("Other trades", "List", "Contents", new {categoryName = "Other trades"}, null)</li>
				<li>@Html.ActionLink("About Sumstar", "List", "Contents", new {categoryName = "About Sumstar"}, null)</li>
			</ul>
		</div>
	</div>
</div>
